[submodule "test_client/microreact_integration"]
	path = test_client/microreact_integration
	url = https://github.com/ssi-dk/microreact_integration.git
	branch = main
[submodule "sofi_messenger"]
    path = sofi_messenger
    url = https://github.com/ssi-dk/sofi_messenger
	branch = main