# Name                    Version                   Build  Channel
aio-pika                  9.3.0           py312h7900ff3_1    conda-forge
cgmlst-dists              0.4.0                h031d066_4    bioconda
fastapi                   0.109.0            pyhd8ed1ab_0    conda-forge
git                       2.43.0          pl5321h7bc287a_0    conda-forge
numpy                     1.26.3          py312heda63a1_0    conda-forge
pandas                    2.2.0           py312hfb8ada1_0    conda-forge
pydantic                  2.6.0              pyhd8ed1ab_0    conda-forge
pymongo                   4.6.1           py312h30efb56_0    conda-forge
python                    3.12.1          hab00c5b_1_cpython    conda-forge
scipy                     1.12.0          py312heda63a1_2    conda-forge
uvicorn                   0.27.0.post1    py312h7900ff3_0    conda-forge